<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohuang.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.xiaohuang.pojo.User">
            <id property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="INTEGER"/>
    </resultMap>

<!--    User queryById(Integer i);-->
    <select id="queryById" resultType="user">
        select * from c_user where uid=#{i}
    </select>
    <sql id="Base_Column_List">
        uid,nick_name,username,
        password,phone,role
    </sql>
</mapper>
